<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.origami.upm.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="org.origami.upm.api.entity.SysRoleDO">
        <!--@mbg.generated-->
        <!--@Table sys_role-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="is_deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        sys_role.id,sys_role.create_by,sys_role.create_date,sys_role.is_deleted,sys_role.update_by,sys_role.update_date,
        sys_role.version,sys_role.remark,sys_role.role_code,sys_role.role_name
    </sql>

    <select id="selectListByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
                     left join sys_user_role on sys_role.id = sys_user_role.role_id
                     left join sys_user on sys_user.id = sys_user_role.user_id
        where sys_user.id = #{userId}
    </select>

    <select id="selectRolesByPermission" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from sys_role
        left join sys_role_permission srp on srp.role_id = sys_role.id
        left join sys_permission sp on srp.permission_id = sp.id
        where sp.perms = #{permission}
    </select>

</mapper>
